Repository microsoft/BotFramework-Composer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @luhan2017, @corinagum, @yeze322, @benbrown

show errors before submit
  Composer/packages/client/src/pages/design/createDialogModal.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

update the interface
  Composer/packages/client/src/components/ProjectTree/treeItem.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

options
  Composer/packages/extensions/obiformeditor/src/Form/fields/RecognizerField/index.tsx
  Composer/packages/lib/shared/src/types/sdk.ts
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

bugfix
  Composer/packages/extensions/obiformeditor/src/Form/fields/RecognizerField/index.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

fix lu file error in interruption sample
  Composer/packages/server/assets/projects/InterruptionSample/ComposerDialogs/GetProfile/GetProfile.lu
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

show errors after clicking tab
  Composer/packages/client/src/pages/design/createDialogModal.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

autofocus on the name field
  Composer/packages/client/src/pages/design/createDialogModal.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

show errors immediately
  Composer/packages/client/src/pages/design/createDialogModal.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

add import
  Composer/packages/client/src/pages/design/createDialogModal.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

fix: fix SendActivity flikering issue by turning async Lg api call to sync (#2173)
  Composer/packages/extensions/visual-designer/src/editors/StepEditor.tsx
  Composer/packages/extensions/visual-designer/src/hooks/useLgTemplate.ts
  Composer/packages/extensions/visual-designer/src/hooks/useWindowDimensions.ts
  Composer/packages/extensions/visual-designer/src/index.tsx
  Composer/packages/extensions/visual-designer/src/store/NodeRendererContext.ts
  Composer/packages/extensions/visual-designer/src/utils/hooks.ts
  Composer/packages/extensions/visual-designer/src/widgets/ActivityRenderer.tsx
Owners: @yeze322, @cwhitten, @boydc2014, @a-b-r-o-w-n

fix: fix SendActivity flikering issue by turning async Lg api call to sync (#2173)
  Composer/packages/extensions/visual-designer/src/editors/StepEditor.tsx
  Composer/packages/extensions/visual-designer/src/hooks/useLgTemplate.ts
  Composer/packages/extensions/visual-designer/src/hooks/useWindowDimensions.ts
  Composer/packages/extensions/visual-designer/src/index.tsx
  Composer/packages/extensions/visual-designer/src/store/NodeRendererContext.ts
  Composer/packages/extensions/visual-designer/src/utils/hooks.ts
  Composer/packages/extensions/visual-designer/src/widgets/ActivityRenderer.tsx
Owners: @yeze322, @cwhitten, @boydc2014, @a-b-r-o-w-n

enable react dev tools for iframes
  Composer/packages/client/public/extensionContainer.html
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

Updated to working lockfile.
  Composer/yarn.lock
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

Updated to working lockfile.
  Composer/yarn.lock
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

fix: show choices when it's typed with string[] or expression (#2334)
  Composer/packages/extensions/visual-designer/src/schema/uischema.tsx
Owners: @yeze322, @cwhitten, @boydc2014, @a-b-r-o-w-n

fix: show choices when it's typed with string[] or expression (#2334)
  Composer/packages/extensions/visual-designer/src/schema/uischema.tsx
Owners: @yeze322, @cwhitten, @boydc2014, @a-b-r-o-w-n

start replacing links with nav
  Composer/packages/client/src/App.tsx
  Composer/packages/client/src/components/NavItem/index.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

update to get formatting better
  Composer/packages/client/src/App.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

Update App.tsx
  Composer/packages/client/src/App.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

Piggy backed off of master's lockfile
  Composer/yarn.lock
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

Piggy backed off of master's lockfile
  Composer/yarn.lock
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

fix: lu file error in interruption sample (#2340)
  Composer/packages/server/assets/projects/InterruptionSample/ComposerDialogs/GetProfile/GetProfile.lu
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

fix: lu file error in interruption sample (#2340)
  Composer/packages/server/assets/projects/InterruptionSample/ComposerDialogs/GetProfile/GetProfile.lu
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

fix: display object types correctly in SetProperties (#2335)
  Composer/packages/extensions/visual-designer/src/schema/uischema.tsx
Owners: @yeze322, @cwhitten, @boydc2014, @a-b-r-o-w-n

fix: display object types correctly in SetProperties (#2335)
  Composer/packages/extensions/visual-designer/src/schema/uischema.tsx
Owners: @yeze322, @cwhitten, @boydc2014, @a-b-r-o-w-n

move FocusZone from NavItem to App
  Composer/packages/client/src/App.tsx
  Composer/packages/client/src/components/NavItem/index.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

feat: Add language parameter to deploy script (#2308)
  BotProject/Templates/CSharp/Scripts/deploy.ps1
Owners: @boydc2014, @luhan2017

feat: Add language parameter to deploy script (#2308)
  BotProject/Templates/CSharp/Scripts/deploy.ps1
Owners: @boydc2014, @luhan2017

Update index.tsx
  Composer/packages/client/src/components/NavItem/index.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

resolve issues in Notifications page
  Composer/packages/client/src/components/Pagination/index.tsx
  Composer/packages/client/src/pages/notifications/NotificationHeader.tsx
  Composer/packages/client/src/pages/notifications/NotificationList.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

Update index.tsx
  Composer/packages/client/src/components/Pagination/index.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

Update index.js
  Composer/packages/client/src/components/Header/index.js
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

feat: added formatData to uiOptions
  Composer/packages/extensions/adaptive-form/src/components/SchemaField.tsx
  Composer/packages/extensions/adaptive-form/src/utils/arrayUtils.ts
  Composer/packages/extensions/extension/src/types/uiSchema.ts
  Composer/packages/ui-plugins/prompts/src/uiSchema.ts
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

a11y: move FocusZone from NavItem to App (#2341)
  Composer/packages/client/src/App.tsx
  Composer/packages/client/src/components/NavItem/index.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

a11y: move FocusZone from NavItem to App (#2341)
  Composer/packages/client/src/App.tsx
  Composer/packages/client/src/components/NavItem/index.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

fix: Added formatData to ObjectArrayField
  Composer/packages/extensions/adaptive-form/src/components/fields/ObjectArrayField.tsx
  Composer/packages/extensions/adaptive-form/src/utils/arrayUtils.ts
  Composer/packages/ui-plugins/prompts/src/SynonymsField.tsx
  Composer/packages/ui-plugins/prompts/src/uiSchema.ts
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

a11y: resolve issues in Notifications page (#2343)
  Composer/packages/client/src/components/Header/index.js
  Composer/packages/client/src/components/Pagination/index.tsx
  Composer/packages/client/src/pages/notifications/NotificationHeader.tsx
  Composer/packages/client/src/pages/notifications/NotificationList.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

a11y: resolve issues in Notifications page (#2343)
  Composer/packages/client/src/components/Header/index.js
  Composer/packages/client/src/components/Pagination/index.tsx
  Composer/packages/client/src/pages/notifications/NotificationHeader.tsx
  Composer/packages/client/src/pages/notifications/NotificationList.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

default to correct type in expression editor
  Composer/packages/ui-plugins/expressions/src/ExpressionField.tsx
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

start case the fallback labels
  Composer/packages/extensions/adaptive-form/src/utils/uiOptionsHelpers.ts
Owners: @cwhitten, @boydc2014, @a-b-r-o-w-n, @corinagum

.github/CODEOWNERS:

# https://blog.github.com/2017-07-06-introducing-code-owners/

* @cwhitten @boydc2014 @a-b-r-o-w-n

/BotProject/ @boydc2014 @luhan2017

/Composer/ @cwhitten @boydc2014 @a-b-r-o-w-n @corinagum

/Composer/packages/extensions/visual-designer @yeze322 @cwhitten @boydc2014 @a-b-r-o-w-n

/docs/ @cwhitten @boydc2014 @benbrown
