Repository microsoft/BotFramework-Composer, pull requests merged in 2021-07, with the labels that each got.

#8241 chore: orchestrator-core changed to @microsoft/orchestrator-core
  Composer/packages/electron-server/electron-builder-config.json
Labels: Area: Orchestrator

#8248 fix: Update conversation object when secret and locale changes
  Composer/packages/client/src/components/WebChat/WebChatPanel.tsx
  Composer/packages/client/src/pages/design/DebugPanel/TabExtensions/DiagnosticsTab/DiagnosticFilters.tsx
  Composer/packages/client/src/pages/design/DebugPanel/TabExtensions/RuntimeOutputLog/RuntimeOutputLog.tsx
  Composer/packages/client/src/pages/design/DebugPanel/WatchVariablePicker/WatchVariablePicker.tsx
Labels: P0, Webchat Integration

#8250 fix: Persist SessionStarted and HandoffToComposerCompleted telemetry events
  Composer/packages/client/src/telemetry/AppInsightsClient.ts
  Composer/packages/client/src/telemetry/ConsoleClient.ts
  Composer/packages/client/src/telemetry/TelemetryClient.ts
  Composer/packages/client/src/telemetry/__tests__/AppInsightsClient.test.ts
  Composer/packages/client/src/telemetry/__tests__/TelemetryClient.test.ts
  Composer/packages/client/src/telemetry/aggregateClient.ts
  Composer/packages/client/src/telemetry/useInitializeLogger.ts
  Composer/packages/types/src/telemetry.ts
Labels: topic: telemetry

#8209 fix: Persist Orchestrator Model settings in appsettings
  Composer/packages/client/src/recoilModel/dispatchers/__tests__/orchestrator.test.tsx
  Composer/packages/client/src/recoilModel/dispatchers/orchestrator.ts
  Composer/packages/server/src/controllers/orchestrator.ts
  Composer/packages/server/src/models/bot/builder.ts
  Composer/packages/server/src/models/bot/interface.ts
  Composer/packages/server/src/router/api.ts
  Composer/packages/types/src/orchestrator.ts
  Composer/packages/types/src/settings.ts
Labels: Area: Orchestrator

#8291 fix: QnA import with global auth
  Composer/packages/client/__tests__/pages/knowledge-base/CreateQnAModal.test.tsx
  Composer/packages/client/__tests__/pages/knowledge-base/ReplaceQnAFromModal.test.tsx
  Composer/packages/client/src/components/Notifications/__tests__/NotificationCard.test.tsx
  Composer/packages/client/src/components/QnA/CreateQnAFromQnAMaker.tsx
  Composer/packages/client/src/components/QnA/CreateQnAFromUrl.tsx
  Composer/packages/client/src/components/QnA/CreateQnAModal.tsx
  Composer/packages/client/src/components/QnA/EditQnAFromScratchModal.tsx
  Composer/packages/client/src/components/QnA/EditQnAFromUrlModal.tsx
  Composer/packages/client/src/components/QnA/ImportQnAFromUrl.tsx
  Composer/packages/client/src/components/QnA/PersonalCard.tsx
  Composer/packages/client/src/components/QnA/ReplaceQnAFromModal.tsx
  Composer/packages/client/src/components/QnA/constants.ts
  Composer/packages/client/src/components/QnA/styles.ts
  Composer/packages/client/src/pages/knowledge-base/table-view.tsx
  Composer/packages/client/src/recoilModel/dispatchers/__tests__/mocks/mockProjectResponse.json
  Composer/packages/client/src/recoilModel/dispatchers/provisionQNA.ts
  Composer/packages/client/src/utils/notifications.ts
  Composer/packages/client/src/utils/qnaUtil.ts
Labels: Not Targetting Main

#8364 chore: Update Webchat to 4.14
  Composer/packages/client/package.json
  Composer/packages/client/src/components/WebChat/utils/WebChatTypes.d.ts
  Composer/packages/server/src/locales/en-US.json
  Composer/yarn.lock
Labels: Webchat Integration

#8426 fix: Problems pane reset
  Composer/packages/client/src/components/DropdownWithAllOption/DropdownWithAllOption.tsx
  Composer/packages/client/src/pages/design/DebugPanel/TabExtensions/DiagnosticsTab/DiagnosticFilters.tsx
  Composer/packages/client/src/pages/design/DebugPanel/TabExtensions/DiagnosticsTab/DiagnosticsTabContent.tsx
  Composer/packages/client/src/recoilModel/atoms/appState.ts
  Composer/packages/client/src/recoilModel/dispatchers/utils/project.ts
Labels: Testing & Debugging
